@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define default theme using CSS variables */
:root {
  --color-bg: theme('colors.light');
  --color-text: theme('colors.dark');
  --color-border: theme('colors.dark');
  --color-hover-bg: theme('colors.dark');
  --color-hover-text: theme('colors.dark');
}

/* Override variables when dark mode is active */
.dark {
  --color-bg: theme('colors.dark');
  --color-text: theme('colors.light');
  --color-border: theme('colors.light');
  --color-hover-bg: theme('colors.light');
  --color-hover-text: theme('colors.light');
}

/* Apply theme variables */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Replace direct `@apply` usage with CSS variables */
.border-dark {
  border-color: var(--color-border);
}

.hover\:bg-dark:hover {
  background-color: var(--color-hover-bg);
}

.hover\:text-dark:hover {
  color: var(--color-hover-text);
}

.bg-color-op {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: .5;
}

select, input, button {
  border-radius: 100px !important;
  border: 0px;
  padding: 10px !important;
}